# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/.kotlin/

# Local temporary files generated during emulator/debug sessions
/crash.log
/crash.err
/emu*.log
/emu*.err
/flutter_attach.out
/flutter_attach.err
/flutter_run_hang.out
/flutter_run_hang.err
/logcat.pid
/logcat_live.txt
/logcat_live.err
/mysqld*.out
/mysqld*.err
/open_*.out
/open_*.err
/reopen_*.out
/reopen_*.err
/stable_task_test.out
/stable_task_test.err
/current_view.xml
/final_detail.xml
/no_media_detail.xml
/post_launch.xml
/quick_view.xml
/train_tab.xml
/video_detail.xml
/view.xml
/view_after.xml
/workout_options.xml
/FlutterSharedPreferences.xml
/emu-screen.png
/workout_video_es.png
/._.DS_Store
/android/._.DS_Store
/android/._.gradle
/android/._.kotlin
/ios/._.DS_Store
